@model List<Telmexla.Servicios.DIME.Entity.MaestroNodo>
@{
    ViewBag.Title = "Lista de Nodos Creados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="box box-primary">

        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <div id="gridViewNodos"></div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        var jsonMNodos = @Html.Raw(Json.Encode(Model));
    </script>

    <script src="~/Scripts/AdminNodos/ListaNodosCreados.js?1.0.1"></script>
}