*.dll
*.pdb
4. Entidades/Telmexla.Servicios.DIME.Entity/bin/Release/Telmexla.Servicios.DIME.Entity.dll
*.pdb
*.dll
*.suo
.vs/config/applicationhost.config
*.pdb
4. Entidades/Telmexla.Servicios.DIME.Entity/bin/Debug/Telmexla.Servicios.DIME.Entity.dll
*.dll
*.suo
4. Entidades/Telmexla.Servicios.DIME.Entity/bin/Debug/Telmexla.Servicios.DIME.Entity.dll
*.dll
*.config
*.dll
*.dll
*.dll
*.cache
4. Entidades/Telmexla.Servicios.DIME.Entity/obj/Debug/Telmexla.Servicios.DIME.Entity.csproj.FileListAbsolute.txt
*.dll
Dime/bin/Telmexla.Servicios.DIME.Entity.pdb
*.cache
Dime/obj/Debug/Dime.dll
*.pdb
*.cache
*.txt
*.pdb
Dime/obj/Release/Package/PackageTmp/bin/Dime.dll
*.cache
*.pubxml
*.suo
.vs/config/applicationhost.config
4. Entidades/Telmexla.Servicios.DIME.Entity/obj/Debug/Telmexla.Servicios.DIME.Entity.csproj.FileListAbsolute.txt
*.cache