
<label style="align-content:center; font-weight:bold; font-size:medium; "> FORMULARIO DE GESTIÓN Y DEPURACIÓN DE CASOS</label>


<div class="row">

    <div class="box box-primary">
       
        <div class="box-body">

            <br />

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="tab-dime-first" id="datosBasicos">
                            <label style="font-size:small; font-weight:bold; color:black"> INTERACCIONES DEL CASO</label>
                            <br />
                            <div id="tablaHistorial"></div>
                        </div>
                    </div>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane tab-dime-first active" role="tabpanel" id="tipificacion">

                            <div style="padding-left:5px; padding-top:10px;">
                                <label style="font-size:small; font-weight:bold; color:black"> INFORMACIÓN DE CREACIÓN</label>

                                <br />
                                <table>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Id de Ingreso: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Cuenta del Cliente: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Número Ticket RR:</small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Fecha de Apertura: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Hora de Apertura: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Usuario de Apertura: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Aliado de Apertura: </small>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbIdIngreso" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbCuentaCliente" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbNoTicketRR" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbFechaApertura" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbHoraApertura" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbUsuarioApertura" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbAliadoApertura" readonly />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Fecha Actualización: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Usuario Actualización: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Hora Actualización:</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbFechaActualizacion" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbUsuarioActualizacion" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="tbHoraActualizacion" readonly />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
          
               &nbsp;

                <br />
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane tab-dime-first active" role="tabpanel" id="tipificacion">

                            <div style="padding-left:5px; padding-top:10px;">
                                <label style="font-size:small; font-weight:bold; color:black"> INFORMACIÓN DEL CLIENTE</label>

                                <br />
                                <table>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Nombre del Cliente: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Apellido del Cliente: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Documento de Identidad:</small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Telefono Telmex: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Teléfono 1: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Teléfono 2:  </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Teléfono 3:  </small>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Nombre" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Apellido" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Cedula" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.TelefonoTelmex" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Telefono1" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Telefono2" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Telefono3" readonly />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Telefono Personal: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Dirección de Instalación: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Correspondencia:</small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Correo Electrónico: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Red: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>División:</small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Área: </small>
                                        </td>
                        
                                    </tr>
                                    <tr>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.TelefonoConv" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.DirInstalacion" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.DirCorrespondencia" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Correo" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Red" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Division" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Area" readonly />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Zona: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Distrito: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Nombre Comunidad :</small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Estrato: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Tipo Cliente: </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Descripción:</small>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Zona" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Distrito" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.NombreComunidad" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Estrato" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.TipoCliente" readonly />
                                        </td>
                                        <td style="padding:1px;">
                                            <input class="form-control input-sm" ng-model="clienteInfo.Descripcion" readonly />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <br/>

                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane tab-dime-first active" role="tabpanel" id="tipificacion">
                            <label style="font-size:small; font-weight:bold; color:black"> ÁRBOL DE ESCALAMIENTO</label>
                            <div class="tab-pane tab-dime-first active" role="tabpanel" id="tipificacion">

                                <table>
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Macroproceso:  </small>
                                        <td width="300" style="padding:1px;">
                                            <small>Marcación:  </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Servicios Afectados:  </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="marcacionInfo.Macroproceso" readonly /> </td>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="marcacionInfo.Submarcacion" readonly /></td>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="tbServicioAfectado" value="{{tbServicioAfectadoVal}}" readonly /></td>
                                     67
                                    </tr>
                                </table>
                                <table ng-show="LINEA_LOGEADO=='CELULA SEGUIMIENTO SOPORTE' || LINEA_LOGEADO=='CELULA VISITA SOPORTE'">
                                    <tr>
                                        <td width="300" style="padding:1px;">
                                            <small>Tipo de Seguimiento:  </small>
                                        <td width="300" style="padding:1px;">
                                            <small>Número Incidencia CCAA:  </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Información de Visita Técnica:  </small>
                                        </td>
                                        <td width="300" style="padding:1px;">
                                            <small>Quien Autoriza:  </small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="ingresoSoporte.TipoSegumiento" readonly /> </td>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="ingresoSoporte.IncidenciaCcaa" readonly /></td>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="ingresoSoporte.CcaaIndicaVisitaTecnica"  readonly /></td>
                                        <td style="padding:1px;"><input class="form-control input-sm" ng-model="ingresoSoporte.NombreAutoriza"  readonly /></td>
                                    </tr>
                                </table>
                                <br />
                                <label>
                                    Posible Causa
                                </label>
                                <div id="lbPosibleCausa" style="background-color:#f6f6f6;  width:80%; height:auto;  border-radius:5px;  padding:12px;">
                                    {{marcacionInfo.PosibleCausa}}
                                </div>
                                <br />
                                <label>
                                    Que Hacer
                                </label>
                                <div  id="lbQueHacer" style="background-color:#f6f6f6;  width:80%; height:auto;  border-radius:5px; padding:12px;">
                                 </div>
                                <br />
                                <label>
                                    Códigos de Cierre
                                </label>
                                <div id="lbCodigosCierre" style="background-color:#f6f6f6;  width:80%; height:auto;  border-radius:5px; padding:12px; ">
                                  
                                </div>
                                <br />
                                <label>
                                    Área Usuario a Escalar:
                                </label>
                                <div id="lbUsuarioAEscalar" style="background-color:#f6f6f6;  width:80%; height:auto;  border-radius:5px; padding:12px; ">
                                    {{marcacionInfo.AreayUsuarioEscala}}
                                </div>

                                
                                <br />
                             

                            </div>
                            <br />

                            <div style="background-color:dimgray ; color:white; border-radius:5px; ">
                                <div>
                                    <table align="left">
                                        <tr>
                                            <td width="300" style="padding:5px;">
                                                <small>Estado Caso:  </small>
                                            </td>
                                            <td width="300" style="padding:5px;">
                                                <small>Area a Escalar:  </small>
                                            </td>

                                            <td width="300" style="padding:5px;">
                                                <small>¿Aplica Rechazo?  </small>
                                            </td>
                                            <td width="300" style="padding:5px;">
                                                <small>¿Por que lo Rechaza?  </small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;"  data-ng-options="o.name for o in optionsEstados" data-ng-model="ingreso.IdEstado" ng-change="ChangeOnStateCase()">
                                                 </select>
                                            </td>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;"  data-ng-options="o.name for o in optionsAEscalar"   data-ng-model="ingreso.NombreLineaEscalado" ng-change="ChangeOnEscalarCase()">
                                                 </select>
                                            </td>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;" data-ng-options="o.name for o in optionsAplicaRechazo" data-ng-model="selectedAplicaRechazo" >
                                                </select>
                                            </td>
                                            <td style="padding:5px;">
                                                <textarea class="form-control input-sm" style="background-color:#f6f6f6;  width:800px;" data-ng-model="razonRechazo" />
                                            </td>

                                        </tr>
                                    </table>
                                    <br />
                                    <table  ng-show="LINEA_LOGEADO=='CELULA SEGUIMIENTO SOPORTE' || LINEA_LOGEADO=='CELULA VISITA SOPORTE'">
                                        <tr>
                                            <td width="300" style="padding:5px;">
                                                <small>Razon:  </small>
                                            </td>
                                            <td width="300" style="padding:5px;">
                                                <small>Subrazon 1:  </small>
                                            </td>

                                            <td width="300" style="padding:5px;">
                                                <small>Subrazon 2: </small>
                                            </td>
 
                                        </tr>
                                        <tr>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;" data-ng-options="o.name for o in optionsRazonSoporte" data-ng-model="Razon" ng-change="ChangeOnRazonSoporte()"></select>
                                            </td>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;" data-ng-options="o.name for o in optionsSubrazon1Soporte" data-ng-model="Subrazon1" ng-change="ChangeOnSubrazon1Soporte()"></select>
                                            </td>
                                            <td style="padding:5px;">
                                                <select class="form-control input-sm" style="background-color:#f6f6f6;" data-ng-options="o.name for o in optionsSubrazon2Soporte" data-ng-model="Subrazon2"></select>
                                            </td>

                                        </tr>
                                    </table>
                                     </div>
                                <br/>
                                &nbsp;
              
                                <div style="margin:5px; display:block">
                                 
                                    <label>
                                        Notas:
                                    </label><br />
                                   <textarea style = "width: 100%; height: 100px; " data-ng-model="tbObservaciones" class="form-control input-sm" ></textarea>
                                </div>
                                <br />
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>
        <div class="">
          &nbsp;&nbsp;&nbsp;  <button ng-click="SubmitForm()" class="btn btn-primary" style="width:14%; height:40px;">Guardar Datos</button>
            <br />
            <label id="labelMessage" style="color:red"></label>
            <br/>
        </div>

        <a href="#advertenciaModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" style="display:none" id="linkModalAdvertencia">
        </a>

        <div id="advertenciaModal" class="modal">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content" style="width:400px;">
                    <div class="modal-header" style="width:400px;">
                        <button type="button" class="close" style="color:white;" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title"><i class="alert-dismissable" aria-hidden="true" style="color:#c33357;"></i>  Advertencia </h2>
                    </div>
                    <div class="modal-body" style="width:400px;">
                        <br />
                        <div class="row">
                            <div class="col-lg-offset-1" style="width:350px; margin-left:25px;">
                                <label id="avisoAdvertencia" style="color:red; display:inline "> </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>