
@{
    ViewBag.Title = "Reporte Blending";
    ViewBag.SubTitle = "Indicadores Gestion Blending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header" style="margin-top:25px">
                            <i class="fa fa-bar-chart"></i> Gráfica Formulario de Destino
                        </h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <style>
                                #chartdiv {
                                    width: 100%;
                                    height: 500px;
                                }
                            </style>
                            <div id="chartdiv"></div>
                        </div>
                            <br /><strong><i class="fa fa-chevron-circle-right"></i> Seleccione una Opción:</strong><br /><br />
                            <table style="width:50%;">
                                <tr>
                                    <td colspan="2">
                                        <select id="OpcionesFormulario" class="form-control input-sm" onchange="SetGraficaOperacion();"></select>
                                    </td>
                                </tr>
                            </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Grafico_Operacion" style="display:none;">
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top:25px">
                                <i class="fa fa-bar-chart"></i> Gráfica Operación de Destino
                            </h2>
                            <style>
                                #chartdiv2 {
                                    width: 100%;
                                    height: 500px;
                                }
                            </style>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div id="chartdiv2"></div>
                            </div>
                            <br /><strong><i class="fa fa-chevron-circle-right"></i> Seleccione una Opción:</strong><br /><br />
                            <table style="width:50%;">
                                <tr>
                                    <td colspan="2">
                                        <select id="OpcionesCampana" class="form-control input-sm" onchange="SetGraficaCampaña();"></select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Grafico_Campaña" style="display:none;">
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="page-header" style="margin-top:25px">
                                <i class="fa fa-bar-chart"></i> Gráfica Campaña de Destino
                            </h2>
                            <style>
                                #chartdiv3 {
                                    width: 100%;
                                    height: 500px;
                                }
                            </style>
                            <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                <div id="chartdiv3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/AdminLTE/plugins/Amcharts/amcharts.js"></script>
    <script src="~/AdminLTE/plugins/Amcharts/serial.js"></script>
    <script src="~/AdminLTE/plugins/Amcharts/export.min.js"></script>
    <link href="~/AdminLTE/plugins/Amcharts/export.css" rel="stylesheet" />
    <script src="~/AdminLTE/plugins/Amcharts/themes/light.js"></script>
    <script src="~/Scripts/Reportes/ReporteBlending.js?1.1.3"></script>
<script>
    var UrlReporteFormularioDestino = '@Url.Action("ReporteFormulario", "Reportes")';
</script>
}



