@model List<Telmexla.Servicios.DIME.Entity.Ingreso>
@{
    ViewBag.Title = "Consulta de Seguimientos";
    ViewBag.Subtitle = "Consultas Asesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">

            <div class="box-body">

                <br />
                <div class="box box-success">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2><i class="fa fa-search"></i> Resultados de Búsqueda:</h2><br />
                                <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                                    <div class="box-body">
                                        <div id="gridViewConsultaSeguimientos"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts{
    <script>var dataSegumientos= @Html.Raw(Json.Encode(Model));     </script>
    <script src="/Scripts/Gestion_Blending/jquery.datetimepicker.full.js?1.0.1"></script>
    <link href="/Styles/Elements/jquery.datetimepicker.css?1.0.1" rel="stylesheet" />
    <script src="~/Scripts/Consultas_Asesor/Consulta_Seguimientos.js?1.0.4"></script>
}


