@model Telmexla.Servicios.DIME.Entity.VIMSubrazon
@{ ViewBag.Title = "Administrar Tipos de Gestión";
    ViewBag.SubTitle = "Procesos - Cierre de Ciclo";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="@Url.Action("AdministrarSubrazones", "VerificacionDeInventario", new { IdSubrazon=Model.IdSubrazon, IdGestion = Model.IdGestion })" style="margin-right:15px; float:right;">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="glyphicon-class" style="font-size:medium;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Agregar Nueva Sub Razón</span>
                        </a>
                        @Html.Hidden("IdGestion",Model.IdGestion)
                        <h2 class="page-header" style="margin-top:25px"><i class="fa fa-list-alt"></i> Lista de Sub Razones Actuales:</h2>
                        <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <div class="box-body">
                                <div id="dataLoading" style="display:none;text-align:center;width:100%;height:auto;">
                                    <div><img src="~/Resources/Images/Loading.gif" height="100" width="100" /></div>
                                </div>
                                <div id="gridViewConsulta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="submitDatos" type="submit" class="btn btn-primary" value="true" style="width:10%; height:40px; display:none;">Guardar Datos</button>

@section scripts{
    <script>
            var UrlListaSubrazones = '@Url.Action("ListaSubrazonesJson", "VerificacionDeInventario")';
    </script>
    <script src="~/Scripts/VerificacionDeInventario/ListaSubrazones.js?1.0.3"></script>

}



