body {

}
.Contenedor{
    width: 100%;
    background-color: white;
    height: 100%;
    margin-top:  5%;
    /*background-image: url(fondo.png);*/
}
.Cuerpo{
    width: 30%;
    height: auto;
   /*min-width: 30%;*/
    background-color: white;
    /*background-image: url(fondo.png);
    /*border: 2px solid;*/
    font-family: Century Gothic;
}

.Cuerpo h3{
	text-align: center;
	background: rgba(191, 0, 0, 0.9);
	color: white;
	padding: 15px;
	font: inherit;
	font-size: 18px;
	/*font-weight: bold;*/

}
.Cuerpo p{
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
	font: inherit;
	font-size: 14px;
}
.Cuerpo label{
	font: inherit;
	font-size: 14px;
	font-style: oblique;
	color: gray;
}
.input_User{
  	display: block;
  	margin: 0;
  	width: 95%;
  	max-width:95%;
  	min-width:95%;
  	/*margin-left: 15%;*/
  	font-family: sans-serif;
  	font-size: 14px;
  	appearance: none;
  	box-shadow: none;
  	border-style: none;
  	padding: 10px;
  	border: solid 1px #d3d3d3;
  	transition: box-shadow 0.3s, border 0.3s;
  	color:#a8a7a7;
  	border-radius: 4px;

}
.input_User:focus{
    border: solid 1px #66cbh9;
}
.Cuerpo hr{
	border: 1px solid red;
}

.select {
  	position: relative;
  	/*border: 1px solid #eee;*/
  	 margin-top: 20px;
  	width: 100%;
  	overflow: hidden;
  	/*background-color: rgba (140,20,20,0.2);*/
}
/*.Cuerpo select{
	width: 99%;
	box-shadow: none;
	border-style: none;
	margin-top: 20px;
	border: solid 1px #d3d3d3;
	font-family: sans-serif;
  	font-size: 14px;
  	padding: 10px;
  	border-radius: 3px;
  	background: rgba(140,20,20,0.2);
}*/
.select:before {
    content: '';
    position: absolute;
    right: 3px;
    top: 10px;
    border-left-color: transparent;
    border-top-color: #db4949;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 13px 8px 0px 8px;
    z-index: 5;
    pointer-events: none;
    }
  .select select{
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: rgba(140,20,20,0.1);
    background-image: none;
    appearance: none;
	border-radius: 3px;
	border: solid 1px #d3d3d3;
	font-family: sans-serif;
  	font-size: 14px;
  	color: #a8a7a7;
  }
  .Boton{
    margin-top: 25px;
	background:gray;
	width:50%;
	margin-left: 25%;
	font-size:14px;
	height:50px;
  	text-decoration:none;
  	border:none;
  	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
  	color: white;
}
.Boton:hover{
	background: #a9a9a9;
}
@media screen and (max-width: 1920px) {
  div.Cuerpo {
    margin-left: 35%;
    min-width: 30%;
  }
}
@media screen and (max-width: 1400px) {
  div.Cuerpo {
    margin-left: 30%;
    min-width: 40%;
  }
} 
@media screen and (max-width: 1200px) {
  div.Cuerpo {
    margin-left: 25%;
    min-width: 50%;
  }
} 
@media screen and (max-width: 900px) {
  div.Cuerpo {
    margin-left: 20%;
    min-width: 60%;
  }
}
@media screen and (max-width: 600px) {
  div.Cuerpo {
    margin-left: 15%;
    min-width: 70%;
  }
}
@media screen and (max-width: 400px) {
  div.Cuerpo {
    margin-left: 5%;
    min-width: 90%;
  }
}