
@{
    Layout = ViewBag.Layout;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConsultaCuentas</title>
</head>
<body>
    <div class="row">
        <div class="col-xs-7">
            <small>Documento de Identidad:</small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input class="form-control input-sm" type="text" placeholder="Documento de identidad"  id="inputCedulaIngreso"  autocomplete = "off" >
        </div>
    </div>
    <br />
    <div id="tableCuentasFound">
    </div>


    <script>



        $("#inputCedulaIngreso").on("keyup", function (e) {

            var code = e.keyCode || e.which;
            if (code == 13) {
                console.log("entra submit buscar cuentas por cedula");
                submitForm();
            }
        })


        function  submitForm(){

        var cedula = $("#inputCedulaIngreso").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("BuscarCuentasPorCedula", "Clientes")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ cedula: cedula , actionName: "@ViewBag.ActionName", controllerName: "@ViewBag.ControllerName" , selectOptions: "@ViewBag.SelectOptions" }),
            dataType: "html",
            success: function (result) {
                $('#tableCuentasFound').html(result);
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });

        }

    </script>
    
</body>




</html>
