@{
    ViewBag.Title = "Manual de Usuario";
    ViewBag.Subtitle = "Celula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["Manual de Usuario Celula"] != null)
{
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="interaccionesSolicitud" style="text-align:center;width:100%;">

                            <video id="Video" autoplay="" controls="" width="768	" height="432" style="border-radius:15px;">
                                <source id="Source" src="~/Resources/Videos/Primer_Login.mp4" type="video/mp4">
                                @*<source id="Source" src="~/Resources/Videos/VideoPrueba.mp4" type="video/mp4">*@
                                <!-- Google Chrome, Safari, Internet Explorer 9 -->
                                @*<source src="Video/002PRIMER LOGIN/1.webm" type="video/webm">
                                    <!-- Google Chrome, Mozilla Firefox, Opera -->
                                    <source src="Video/002PRIMER LOGIN/1.ogv" type="video/ogv">
                                    <!-- Google Chrome, Mozilla Firefoz, Opera -->*@
                                <!-- Este código que viene a continuación es para versiones anteriores de Internet Explorer (IE8, IE7, IE6), el cuál muestra el típico reproductor en Flash, ya que estas versiones no soportan HTML5 -->
                                <object>
                                    <embed type="application/x-mplayer2" pluginspage="http://www.microsoft.com/windows/windowsmedia/default.aspx" src="" showcontrols="True" showstatusbar="True" showdisplay="False" autorewind="True" autostart="True" width="768" height="432">
                                </object>
                            </video>

                        </div>
                        <hr />
                        <table>
                            <tr>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo1();"><span class="info-box-icon bg-red"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Información General</span>
                                            <span class="info-box-number">Primer Login</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo2();"><span class="info-box-icon bg-aqua"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Información General</span>
                                            <span class="info-box-number">Cambiar Contraseña</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo3();"><span class="info-box-icon bg-gray"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Información General</span>
                                            <span class="info-box-number">Bloqueo de Pantalla</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo4();"><span class="info-box-icon bg-orange"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Gestion de Casos</span>
                                            <span class="info-box-number">Sac - Soporte</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo5();"><span class="info-box-icon bg-green"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Gestion de Casos</span>
                                            <span class="info-box-number">Traslados</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="padding:5px;">
                                    <div class="info-box">
                                        <a href="#" onclick="CambiarVideo6();"><span class="info-box-icon bg-black"><i class="ion-social-youtube-outline"></i></span></a>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Seguimientos</span>
                                            <span class="info-box-number">Sac - Soporte</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
@section Scripts{

    <script src="~/Scripts/Manuales/ManualCelula.js?1.0.1"></script>
}
}
else
{
    <div class="row">

        <div class="box box-primary">

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}