<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWebService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILoginService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IInboundService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMaestrosService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBlendingService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMarcacionesService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_INotificacionesBuenServicioService"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICasosCelulaService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICasosAdminService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITrasladosService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMaestroNodoService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IActivacionClaroVideoService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IActivacionSiembraHDService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBalanceScoreCardService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGraficosService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUsabilidadService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDistribucionBlendingService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMecService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWebService"
        contract="WSD.IWebService" name="WSHttpBinding_IWebService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILoginService"
        contract="WSD.ILoginService" name="WSHttpBinding_ILoginService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInboundService"
        contract="WSD.IInboundService" name="WSHttpBinding_IInboundService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMaestrosService"
        contract="WSD.IMaestrosService" name="WSHttpBinding_IMaestrosService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlendingService"
        contract="WSD.IBlendingService" name="WSHttpBinding_IBlendingService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMarcacionesService"
        contract="WSD.IMarcacionesService" name="WSHttpBinding_IMarcacionesService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INotificacionesBuenServicioService"
        contract="WSD.INotificacionesBuenServicioService" name="WSHttpBinding_INotificacionesBuenServicioService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICasosCelulaService"
        contract="WSD.ICasosCelulaService" name="WSHttpBinding_ICasosCelulaService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICasosAdminService"
        contract="WSD.ICasosAdminService" name="WSHttpBinding_ICasosAdminService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITrasladosService"
        contract="WSD.ITrasladosService" name="WSHttpBinding_ITrasladosService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMaestroNodoService"
        contract="WSD.IMaestroNodoService" name="WSHttpBinding_IMaestroNodoService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActivacionClaroVideoService"
        contract="WSD.IActivacionClaroVideoService" name="WSHttpBinding_IActivacionClaroVideoService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActivacionSiembraHDService"
        contract="WSD.IActivacionSiembraHDService" name="WSHttpBinding_IActivacionSiembraHDService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBalanceScoreCardService"
        contract="WSD.IBalanceScoreCardService" name="WSHttpBinding_IBalanceScoreCardService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGraficosService"
        contract="WSD.IGraficosService" name="WSHttpBinding_IGraficosService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUsabilidadService"
        contract="WSD.IUsabilidadService" name="WSHttpBinding_IUsabilidadService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDistribucionBlendingService"
        contract="WSD.IDistribucionBlendingService" name="WSHttpBinding_IDistribucionBlendingService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
      <endpoint address="http://172.18.175.56/WSD_PRU/WebService.svc/WebService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMecService"
        contract="WSD.IMecService" name="WSHttpBinding_IMecService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA1oNoiFokM3IvzjUwP6auw6zRczIgAAAAAQAAAEgCAAAwggJEMIIB8qADAgECAhBPiBXf9t+PlU9oV9g2LVL+MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwMTEyMjEyNzA2WhcNMzkxMjMxMjM1OTU5WjAjMSEwHwYDVQQDExhEaW1lU2VydmljZUNlcnRpZmljYXRpb24wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0/+2yptG/4+bQZ7j1b+wa3BiikcUk9qq8IozRjrGBqRxvG+qgQ318ciYIQkjjwzEXpzmhdIlB+2wHKY4tfdG6sMQ6bh44ASL0Gpi/nuLZwFAxoGzsQdcB96M0jwfASVxWvHNkXwV+fXjC4vgiovTOtczOWnJE/gh1MTXRodY9l7oLBnumGy+tMpFOgJQTG88j7+m3pXQ2yy6tH8VXbI9JCyrRT3+aZtWNBNnUZGndB6q/HYifyPbFQ7L7ya33g8Y1o+Ek12X1OW9V+GIToug8noU2B4EelFehx9RWOLNTcCt610j0GJvcyFEV6ksgaB4f1g+xQZVft8eP0/okeg1FAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAgOrfMDH6CKQq9Y1uBtrXPu3nNrrkeJGxtAIeoCP1asc7WKbNxLBQuHlTRrN6wcx9i5ALv2yzuXgRadijz19hVQ==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>