@{
    ViewBag.Title = "Dashboard Administrador";

}

@section Menu {
    @Scripts.Render("~/Scripts/Examples/P500/menu")
}
<div class="row">
    <div class="col-md-12" style="width:100%; ">
        <div class="box box-danger">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="3_ofre" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                            <br />
                            <iframe style="width:100%;height:750px;" src="https://app.powerbi.com/view?r=eyJrIjoiZGE3YmE0ZTktZjc2NS00NDQxLWFmZDMtMmU0MmNiNjQ3ZWIwIiwidCI6IjQ2YmIyMmI4LTRjMmMtNDBmZi04MzYwLTdiNjMzNDgyMTI3OSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>