@model List<Telmexla.Servicios.DIME.Entity.DatoConsultaDirecciones>
@{
    ViewBag.Title = "Seguimiento Solicitudes Creación de Dirección";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="box box-primary">

        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    <div id="gridViewSeguimientoCambioEstrato"></div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        var jsonSeguimientosCambioEstrato = @Html.Raw(Json.Encode(Model));
    </script>

    <script src="~/Scripts/Traslados/SeguimientosCambioDeEstrato.js?1.0.2"></script>
}

