@model Telmexla.Servicios.DIME.Entity.ViewModelBitacoraIncidentes
@{
    ViewBag.Title = "Registrar Operaciones Por Incidente";
    ViewBag.SubTitle = "Procesos -COS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-danger">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
    <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
        <i class="fa fa-ticket"></i> Id del Registro Generado
    </h2>
    <div id="ARBOL" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
        <br />
        <form>
            <table>
                <tr>
                    <td style="padding-left:1px; width:200px;">
                        <small>Cédula Usuario</small>
                        @Html.TextBoxFor(m => m.BIPIncidentesPorOperacion.IdRegistro, new { @class = "form-control input-sm", @Id = "IdRegistro", @readonly = "true" })
                    </td>

                </tr>
            </table>
        </form>
    </div>
    <br />
</div>


<div class="box box-danger">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
    <h2 class="page-header" style="margin-top: 0px; margin-left:1px;"> 
        <i class="fa fa-users"></i> Seleccione las Gerencias Afectadas
    </h2>
    <div id="Operaciones" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
        <br />
        <table id="ListaDeGerenciasActivas">

            <tr>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
            </tr>
        </table>
    </div>
    <br />
</div>

<div class="box box-danger">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
    <h2 class="page-header" style="margin-top: 0px; margin-left:1px;">
        <i class="fa fa-users"></i> Seleccione los Aliados Afectados
    </h2>
    <div id="Operaciones" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; padding-right:10px;">
        <br />
        <table id="ListaDeAliadosActivos">

            <tr>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
                <td width="200" style="padding:1px;"></td>
            </tr>
        </table>
    </div>
    <br />
</div>

@section Scripts{
    <script>
        var UrlGerenciasActivas = '@Url.Action("ListaDeGerenciasJson", "BitacoraIncidentes")';
        var UrlAliadosActivos = '@Url.Action("ListaDeAliadosPorgerenciaJson", "BitacoraIncidentes")';
        var UrlOperacionesActivas = '@Url.Action("ListaOperacionesJson", "BitacoraIncidentes")';
    </script>
<script src="~/Scripts/BitacoraIncidentes/RegistrarOperacionesIncidente.js?1.0.4"></script>
    }

