
@{
    ViewBag.Title = "Visualizador de Incidentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9" style="width:100%; ">
        <div class="alert" style="width:100%;height:auto; background-color:white;position:absolute;">
            <div style="border-width:1px;border-style:solid;background-color:lightgray; border-color:black; padding:10px;width:70%; max-width:70%;min-width:70%; float:left;border-radius:5px;">
                <div class="alert-danger" style="height:50px;padding-top:10px;width:90%; max-width:90%;float:left;border-radius:5px;">
                    <div style="font-size:20px;font-family:sans-serif;">
                        &nbsp; <i class="ion-android-alert text-bold"></i> INFORMACIÓN INCIDENCIA CLARO
                    </div>
                </div>
                <div style="max-width:5%;float:left; margin-left:2%;text-align:center;align-content:center;"><img src="~/Resources/Images/Claro.png" height="50" width="50" /></div>
            </div>
        </div>
    </div>
</div>

