@model Telmexla.Servicios.DIME.Entity.ViewModelBlending
@{
    ViewBag.Title = "Skills de Usuarios";
    ViewBag.Subtitle = "Administrador Blending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Administracion Blending"] != null)
{
    <div class="row">
        <div class="col-md-9" style="width:100%; ">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li id="Li1" class="active" style="background-color: #dcdcdc; border-color: #c23321;"><a href="#Inserta_Usuario" style="background-color: transparent;" data-toggle="tab">Creacion de Usuarios</a></li>
                    <li id="Li2"><a style="background-color: transparent;" href="#Actualiza_Usuario" data-toggle="tab">Actualiza Usuarios</a></li>
                </ul>
                <div class="tab-content" style="padding-left:0; padding-top: 0">
                    <div class="active tab-pane" id="Inserta_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                        <br />
                        
                    </div>
                    <div class="tab-pane" id="Actualiza_Usuario" style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px;">
                        <br />
                        <table>
                            <tr>
                                <td style="padding-left:1px; width:200px;">
                                    <label>Seleccione el Nombre de linea</label>
                                    @Html.DropDownListFor(m => m.Maestrolineasblendingvacio.NombreLinea, new List<SelectListItem> { }, "--Select Option--", new { Id= "NombreLineasBlendingSelect", @class = "form-control", onchange="BuscaUsuariosForList();" })
                                    
                                </td>
                            </tr>
                        </table>
                        <br />
                        <div>
                            123
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    @section Scripts{
        <script src="~/Scripts/Gestion_Blending/SkillsUsuariosAdmin.js?1.0.3"></script>
       <script>
           var urlLineas = '@Url.Action("SkillsUsuariosAdminJson", "GestionBlending")';
           var urlUsuariosporOperacion = '@Url.Action("UsuariosporOperacion", "GestionBlending")';
        </script>     
    }

}
else
{
    <div class="row">

        <div class="box box-primary">

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="error-page">
                            <h2 class="headline text-red" style="margin-top:-18px;">502</h2>
                            <div class="error-content">
                                <h3><i class="fa fa-warning text-red"></i> Oops! Acceso Denegado.</h3>
                                <p style="text-align:justify;">
                                    La información que se relaciona en esta vista no es posible visualizarse ya que su perfil no posee el acceso necesario.
                                    Por favor solicite al administrador del sistema el acceso correspondiente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

