@model Telmexla.Servicios.DIME.Entity.ClientesTodo

<html>
<head>

</head>

<body>
    <div>
        <table>
            <tr>
                <td style="padding:1px; width:150px;">Nombre del Cliente:</td>
                <td style="padding:1px;width:150px;">Apellido del Cliente:</td>
                <td style="padding:1px;width:150px;">Estrato:</td>
            </tr>
            <tr>
                <td style="padding:1px; width:150px;"><input type="text" class="form-control input-sm" id="nombreCliente" value="@Model.Nombre" disabled /> </td>
                <td style="padding:1px; width:150px;"><input type="text" class="form-control input-sm" id="apellidoCliente"   value="@Model.Apellido" disabled /> </td>
                <td style="padding:1px; width:150px;"><input type="text" class="form-control input-sm" id="estrato"  value="@Model.Estrato"/> </td>
            </tr>
        </table>
    </div>
</body>


</html>
