
@{
    ViewBag.Title = "Administración de Árboles";
    ViewBag.Subtitle = "Check Técnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("EditarArbol", "Procesos")">arbol</a>