
@{
    ViewBag.Title = "Editar Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12" style="overflow:auto;max-height: 50%;">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h2 class="page-header" style="margin-top:40px">
                    <i class="fa fa-fw fa-pencil-square-o"></i> Edicion
                </h2>
                <div style="background-color:#dcdcdc; padding-left:10px; padding-bottom:10px; margin-top:-10px; margin-left: -10px; padding-right:10px;">
                    <label id="IdPadre" hidden></label>
                    <label id="Tipo" hidden></label>
                    <table>
                        <tr>
                            <td width="200" style="padding:1px;">
                                <strong id="categoriaStrong">Tipo elemento: </strong>
                            </td>
                            <td width="200" style="padding:1px;">
                                <strong id="categoriaStrong">Antiguo Nombre: </strong>
                            </td>
                            <td width="200" style="padding:1px;">
                                <strong id="nuevoNombre">Nuevo Nombre: </strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:1px;">
                                <input type="text" id="NombreTipo" class="form-control" disabled />
                                <label id="IdTipo" hidden></label>
                            </td>
                            <td style="padding:1px;">
                                <input type="text" id="NombreAntiguo" class="form-control" disabled />
                                <label id="IdCategoria" hidden></label>
                            </td>
                            <td style="padding:1px;">
                                <input type="text" id="Descripcion" class="form-control" />
                                <label id="Descripcion" hidden></label>
                            </td>
                        </tr>

                    </table>
                    <button onclick="Editar()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var urlConsultarTipoCategorias = '@Url.Action("ConsultarTipoCategorias", "Procesos")';
        var urlEditarCategorias = '@Url.Action("EditarCategoria", "Procesos")';
    </script>
    <script src="~/Scripts/Procesos/EditarCategoria.js?1.0.7"></script>

}