@model Telmexla.Servicios.DIME.Entity.ViewModelProcesos

@{
    ViewBag.Title = "EditarArbol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditarArbol</h2>


<div id="campanas" class="modal">
    <div class="modal-dialog" style="width:290px; height:150px;">
        <div class="modal-content" style="width:290px;  height:150px;">
            <div class="modal-header" style="width:290px;">
                <button type="button" class="close" style="color:white;" data-dismiss="modal" onclick="ResetearDivs();">&times;</button>
            </div>
            <div class="modal-body" style="width:290px;">
                <br />
                <div class="row">
                    @using (Html.BeginForm("EditarArbol", "Procesos", FormMethod.Post, new { role = "form" }))
                    {

                        <label name="labelnodo">Digite el nombre del nodo</label><br />
                        <input type="text" name="nombrenodo" value="" />
                            <input type="submit" name="crearnodo" value="Crear" />
                    }
                </div>



            </div>
        </div>

    </div>
</div>