@model Telmexla.Servicios.DIME.Entity.Nodo

@{
    ViewBag.Title = "EditarArbol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditarArbol</h2>

<a href="#crearnombre" data-keyboard="false">

    <a href="#campanas" data-toggle="modal" data-backdrop="static" data-keyboard="false"> PRUEBAS
        
    </a>

    <div id="campanas" class="modal">
        <div class="modal-dialog" style="width:290px; height:100px;">
            <div class="modal-content" style="width:290px;  height:100px;">
                <div class="row">
                    <br />
                    @using (Html.BeginForm("EditarArbol", "Procesos", FormMethod.Post, new { role = "form" }))
                    {
                        <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                            <label name="labelnodo">Digite el nombre del nodo</label><br />
                            <input type="text" name="NombreNodo" value="" />
                            <input type="submit" name="crearnodo" value="Crear" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>