
@{
    ViewBag.Title = "Gestión NoCheck";
    ViewBag.Subtitle = "Check Técnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    var IdNodoSesion = '@Session["IdNodoArbol"].ToString()';
    var IdArbolActual = 1;
        @*'@Session["IdArbolActual"].ToString()';*@
</script>

<div class="container">
    <div  class="cont_breadcrumbs">
        <div class="cont_breadcrumbs_1">
            <ul id="Indice"></ul>

        </div>
    </div>
    <br />
    <div id="contenedor-nodos" style="margin:1.8em -2em;padding:15px 15px;-webkit-box-shadow: -7px 10px 59px 4px rgba(0,0,0,0.61);
    -moz-box-shadow: -7px 10px 59px 4px rgba(0,0,0,0.61);box-shadow: -7px 10px 59px 4px rgba(0,0,0,0.61);
     border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;
     border: 0px solid #000000;">
        <div id="contenedor">
            <h3> </h3>
      
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var urlConsultarNodosArbol = '@Url.Action("ConsultarNodosArbol", "Procesos")';
        var urlIndiceNodosArbol = '@Url.Action("IndiceNodosArbol", "Procesos")';
    </script>

    <link href="~/AdminLTE/bootstrap/css/ArbolAsesor.css" rel="stylesheet">
    <script src="~/Scripts/Procesos/GestionNoCheck.js?1.0.1"></script>
}
